@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
/*
    This is a free Use Ui Kit and you can use it for your personal and commercial projects.
    You can't sell it as a Ui Kit or as a part of a Ui Kit.
    You can't claim it as your own work.
    You can't redistribute it.
    You can't resell it.
    You can't use it for any illegal purposes.
    btw its all free so you can't complain about anything. 'Copy and Paste' is not a crime. "GitHub Copilot"
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}
body {
  font-family: "Rubik Dirt", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  padding: 0%;
  list-style-type: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

